.install-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.author-name {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 800;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.author-name:hover {
  text-decoration: underline;
  font-style: italic;
  color: #e75900;
}

.install-count-text {
  font-size: 8rem;
  font-weight: 800;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;

  margin: 0px;
  padding: 0px;

  position: relative;

  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.verified-icon {
  width: 40px;
  height: 40px;

  position: absolute;

  top: 0%;
  right: -8%;

  transition: all 0.2s ease-in-out;
}

.verified-icon:hover {
  transform: scale(1.1);
}

.verified-text {
  padding: 0.3rem;

  background-color: #24a759;
  border-radius: 0.5rem;

  font-size: 0.7rem;
  font-weight: 800;
  color: white;

  position: absolute;

  top: -8%;
  right: -19%;

  transition: all 0.2s ease-in-out;
}

.verified-text:hover {
  background-color: #1c7a4d;
}

.install-count-sub-text {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Gilda Display", cursive;

  margin: 0px;
  padding: 0px;
}

@media (max-width: 1200px) {
  .install-count-text {
    font-size: 6rem;
  }

  .verified-icon {
    width: 35px;
    height: 35px;
    top: 0%;
    right: -8%;
  }

  .install-count-sub-text {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .install-count-text {
    font-size: 4rem;
  }

  .verified-icon {
    width: 30px;
    height: 30px;

    top: 0%;
    right: -8%;
  }

  .install-count-sub-text {
    font-size: 1.125rem;
  }
}

@media (max-width: 480px) {
  .install-count-text {
    font-size: 3rem;
  }

  .verified-icon {
    width: 25px;
    height: 25px;
    top: 0%;
    right: -8%;
  }

  .install-count-sub-text {
    font-size: 1rem;
  }
}
