.sky-video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.sky-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.sky-fallback {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
